@import './base.css';

/* 1. 让 padding 不会撑大盒子 (关键！) */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. 去除浏览器默认的 8px 边距，并设置全屏高度 */
body {
  margin: 0;
  min-height: 100vh;
  
  /* 3. 设置好看的默认字体和背景 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fcfcfc; /* 你的主题色 */
  color: #2c3e50;
}


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
